In [1]:
import pandas as pd

df = pd.DataFrame(
                    {
                        "identificator": ["1234567654311234256", "12313123123"], 
                        "data": ["Hello, World!", "08.05.2000"]
                    }
                )

df.to_excel('../database/database.xlsx', index=False, header=["identificator", "data"])
df.head()

         identificator           data
0  1234567654311234256  Hello, World!
1          12313123123     08.05.2000

In [2]:

for i in range(1000):
    df.loc[i, 'identificator'] = " "
    df.loc[i, 'data'] = " "

df.to_excel('../database/database.xlsx', index=False, header=["identificator", "data"])
df.head()

  identificator data
0
1
2
3
4