In [3]:
import pandas as pd

frame = pd.DataFrame(
                    {
                        "chat_id": ["1234567654311234256", "12313123123"], 
                        "username": [" ", " "]

                    }
                )

frame.to_excel('../database/users.xlsx', index=False, header=["chat_id", "username"])
frame.head()

               chat_id username
0  1234567654311234256
1          12313123123

In [4]:
import pandas as pd

df = pd.read_excel("../database/users.xlsx", header=0)

for i in range(1000):
    df.loc[i, 'chat_id'] = " "
    df.loc[i, 'username'] = " "

df.to_excel('../database/users.xlsx', index=False, header=["chat_id", "username"])
df.head()

  chat_id username
0
1
2
3
4